.resetpwd-window-main {
    border-radius: 10px;
    .ant-card-head-title {
        font-size: 28px;
        font-weight: 500;
    }
    .resetpwd-window-main-hint-warp {
        width: 320px;
        margin: 0 auto 20px auto;


        border: 1px solid #e6db55;
        background-color: #FFFFE0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        
        .resetpwd-window-main-hint {
            font-size: 14px;
            color: #000000A6;
            margin-left: 10px;
            padding: 15px 30px 15px 15px;
        }
    }

    .ant-radio-group {
        display: flex;
        justify-content: center;
        margin: 0 auto 20px auto !important;
        .ant-radio-wrapper {
            color: #000000A6;
            font-weight: bold !important;
        }
    }
}

span.ant-radio + * {
    font-weight: 500
}