html,
body {
    height:100% !important;
    overflow:hidden;
}
#root {
    height: 100% !important;
}
.App {
    height: 100% !important;
}
.window-warp {
    position: relative;
    height: 100% !important;
    .logo {
        width: 150px;
        height: 150px;
        position: absolute;
        top: 210px;
        left: 60px;
        z-index: 1;
        transform: skewY(-12deg);
    }
    .background {
        background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%);
        z-index: -2;
        height: 100%;
        transform-origin: 0%;
        transform: skewY(-12deg);
        &>span {
            box-sizing: border-box;
            height: 190px;
            position: absolute;
            width: 33.33333%;
        }
        span:nth-child(1) {
            top: 0;
            right: 16.66666%;
            left: auto;
            bottom: auto;
            background: #2e2e2e;
        }
        span:nth-child(2) {
            right: 49.99999%;
            bottom: auto;
            left: auto;
            background: #222222;
        }
        span:nth-child(3) {
            // top: 380px;
            left: -16.66666%;
            bottom: 0;
            background: #383d44;
        }
        span:nth-child(4) {
            right: 0;
            bottom: 0;
            background: #2e2e2e;
        }
        span:nth-child(5) {
            top: 280px;
            left: 240px;
            font-size: 100px;
            color: rgb(249, 179, 49);
        }
    }

}

