.question-index{
    .left{
        .title{
            margin-left: 30px;
        }
        .content{
            font-size: 13px;
            margin-left: 30px;
            margin-top: 20px;
        }
        .tag{
            display: flex;
            margin-left: 23px;
            font-size: 12px;
            border-bottom: 1px solid #DEE1E6;
            width: 90%;
            li{
                margin: 18px;
            }
            .easy{
                color: greenyellow;
            }
            .mid{
                color: indianred;
            }
            .difficult{
                color: red;
            }
        }
    }
}