.comment-item {
  font-size: 12px;

  .header-avatar {
    font-size: 14px;

    img {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgb(226, 226, 226);
      margin-right: 5px;
    }
  }

  .comment-time {
    color: rgb(190, 190, 190);
  }

  .item-content {
    margin: 12px 0;
  }

  .item-footer {
    color: rgb(107, 107, 107);
    span{
      margin-right: 2px;
    }
    div {
      margin-right: 10px;
      cursor: pointer;
      &:hover{
        color: rgb(175, 175, 175);
      }
    }
  }
}
.sub {
  padding: 15px;

  .editor {
    height: 5em;
  }
}