.comment-main {
  padding: 0 12px;
  box-sizing: border-box;
  color: rgb(116, 116, 116);

  .comment-item {
    font-size: 12px;
    padding: 12px;

    .header-avatar {
      font-size: 14px;

      img {
        display: inline-block;
        width: 30px;
        overflow: hidden;
        height: 30px;
        border-radius: 50%;
        background-color: rgb(226, 226, 226);
        margin-right: 5px;
      }
    }

    .comment-time {
      color: rgb(190, 190, 190);
    }

    .show-onHover {
      visibility: hidden;
    }

    &:hover {
      .show-onHover {
        visibility: visible;
      }
    }

    .item-content {
      margin: 12px 0;
    }

    .item-footer {
      color: rgb(107, 107, 107);

      span {
        margin-right: 2px;
      }

      div {
        margin-right: 10px;
        cursor: pointer;

        &:hover {
          color: rgb(175, 175, 175);
        }
      }
    }
  }

  .sub {
    padding: 0 15px;

    .editor {
      height: 5em;
    }

    .sub-comment {
      border: 1px solid rgb(233, 233, 233);
    }
  }
}