// .ant-form-item-with-help {
//     margin-bottom: 24px !important;
// }

.ant-form-item-explain {
    margin-top: 5px !important;
    font-size: 12px !important;
    color: #EF4743 !important;
}

.phone-login-form {
    width: 320px;
    margin: 0 auto 0 auto !important;
    .phone-login-form-item {
        width: 320px;
        height: 36px;
        // margin-bottom: 40px;

    }

    .primary-button-item {
        margin-bottom: 10px;
        .primary-button {
            border-radius: 5px;
            height: 36px;
            &:hover {
                background-color: darken(#2DB55D, 10%);
                border-color: darken(#2DB55D, 10%);
            }
        }
    }
}






/* 
    目前待解决问题：
        1. 出现 phoneNumber error 时，只让 Input 出现 red border，不让 Select 出现 red border
        2. 要让 Input 失去焦点的时候才在 checkPhone 里面 return  


*/