.ant-form-item-explain {
    margin-top: 5px !important;
    font-size: 12px !important;
    color: #EF4743 !important;
}

.phone-login-form {
    width: 320px;
    margin: 0 auto 0 auto !important;
    .phone-login-form-item {
        width: 320px;
        height: 36px;
    }

    .primary-button-item {
        margin-bottom: 10px;
        .primary-button {
            border-radius: 5px;
            height: 36px;
            &:hover {
                background-color: darken(#2DB55D, 10%);
                border-color: darken(#2DB55D, 10%);
            }
        }
    }
}

