.phone-input {
    width: 320px;
    height: 36px;
    padding: 4px 11px 4px 0 !important;
    border-radius: 5px !important;
    .ant-input-prefix {
        margin: 0;
        width: 78px;
        // border:none !important;
        .ant-select {
            width: 78px;
            .ant-select-selector {
                color: #595959;
                padding: 0 5px 0 11px;    
                &:hover {
                    color: #2DB55D;
                    transition: all .05s;
                }
                // .ant-select-selection-item {
                //     display: inline-block;
                //     width: 50px !important;
                //     padding-right: 12px !important;
                // }
            }
            .ant-select-arrow {
                float: left;
                width: 0;
                left: 52px;
                height: 16px;
                .anticon  {
                    // width: 0;
                    position: absolute;
                    // left: 10px;
                    height: 17px;
                    bottom: 2px;
                    display: flex;
                    align-items: center;
                }
            }

        }
    }
    // &:disabled {
    //     cursor: text;
    //     border: black 1px solid;
    // }
}
.ant-select-item-option-active {
    color: #2DB55D;
    background-color: #2db55d20 !important;
}
.ant-select-item-option-selected {
    color: #2DB55D !important;
    &::after {
        content: '✓'
    }
}



// .ant-input-affix-wrapper-disabled {
//     border: black 1px solid;
//     cursor: pointer;
// }