.login-window {
    display: inline-block;
    width: 384px;
    min-height: 514px;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgb(96, 96, 96);
    border-radius: 10px !important;
    position: absolute;
    left: 75%;
    margin-top: -257px;
    margin-left: -192px;
    background: white;
    z-index: 10;
    // display: none;
    // transform: skewY(-12deg);
}

