.usa-login-form {
    width: 320px;
    margin: 0 auto 0 auto;
    .usa-login-form-item {
        .usa-login-input {
            border-radius: 5px;
            height: 38px;
        }
        .usa-login-btn-input {
            width: 100%;
        }
    }
}

