.login-window-main {
    border-radius: 10px;
    .ant-card-head {
        // border: none;
        .ant-card-head-title {
            font-size: 28px;
            font-weight: 500;
        }  
    }
    .ant-card-body {
        padding: 24px 0 24px 0;
    }
    .link-button-warp {
        width: 320px;
        margin: 0 auto 0 auto;
        display: flex;
        justify-content: space-between;
        .link-button {
            padding: 4px 0 4px 0;
            color: #808080 !important;

        }
    }

    .us-username {
        font-size: 14px;
        color: #808080;
        margin: 20px auto 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}


// $input-focus-color: #2db55d;
// .login-window-main {
//     border-radius: 10px !important;
//     .ant-card-head-title {
//         font-size: 28px;
//         font-weight: 500;
//         // line-height: 36px;
//     }
//     .login-window-main-form {
//         .login-window-main-form-item {
//             width: 320px;
//             height: 36px;
//             .ant-select-selector {
//                 height: 36px;
//                 border-radius: 5px;
//                 .ant-select-selection-item {
//                     top: 2px;
//                     height: 30px;
//                     color: #595959;
//                 }
//             }
//             .login-window-main-form-input {
//                 height: 36px;
//                 border-radius: 5px;                 
//             }
//         }

//         .ant-btn-primary {
//             width: 320px;
//             height: 36px;
//             background: $input-focus-color;
//             border-color: $input-focus-color;
//             border-radius: 5px;
//             margin: 0 auto 10px auto;
//             display: block;
            
//             &:hover {
//                 background-color: darken($input-focus-color, 8%);
//             }
//         }
//             // display: flex;
//             // justify-content: space-between;
//             // .ant-btn-link {
//             //     font-size: 14px;
//             //     // line-height: 20px;
//             //     color: gray;
//             // }            

//     }
//     .us-user-login {
//         text-align: center;
//         color: gray;
//         margin-top: 30px;
//         cursor: pointer;
//     }
// }

